.wrapper {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;

    .detail {
        display:flex;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 900px) {
            flex-direction: column;
        }

        .detail-lhs {
            display:flex;
            flex-direction:column;
            align-items: flex-start;
            max-width: 46%;

            @media (max-width: 900px) {
                max-width:100%;
            }

            img {
                width:560px;
                height: 400px;
                max-width: 100%;
            }
        } 
        
        .detail-rhs {
            max-width: 46%;

            @media (max-width: 900px) {
                padding-top: 2rem;
                max-width:100%;
                width:560px;
            }

            h2 {
                font-size: 3.2rem;
                font-weight: bold;
                padding-bottom: 2rem;
            }

            .detail-info {
                display: flex;
                justify-content: space-between;

                @media (max-width: 900px) {
                    flex-direction:column;
                }

                p {
                    padding: 0.75rem 0;
                    font-size: 1.6rem;
                    font-weight:300;

                    span {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}