.countrypanel {
    width:250px;
    padding: 1rem;
    margin: 1rem;
    text-align:left;
    background-color:white;

    h2 {
        font-size: 2.0rem;
    }

    h3 {
        font-size: 1.5rem;
        margin: 0 auto;
    }
}